<div class="paged-replay-list-main">
	@*<FilterPanel FilterChanged="@OnFilterChanged" />*@
	<div class="list">
		<ReplayList Replays="@replays"
					IsFitToPage="true"
					ReloadOnItemChanged="@ReloadOnItemChanged"
					OnReplayItemChanged="@ReplayItemChanged" />
							
		<MudPagination Count=@PageCount 
					   SelectedChanged=@PageChanged/>
	</div>
</div>
