@*<div class="paged-replay-list-main">
	
	<div class="list">
		<ReplayList Replays="@FetchReplaysState.Value.Replays"
					IsFitToPage="true"
					ReloadOnItemChanged="@ReloadOnItemChanged"
					OnReplayItemChanged="@ReplayItemChanged" />
							
		<MudPagination Count=@PageCount 
					   SelectedChanged=@PageChanged
					   Style="padding-top: 1rem;"/>
	</div>
</div>*@
