@using System.Linq

<div @ref="mainReference" class="replay-list-main">
	@if (Replays is not null && Replays.Any())
	{
		<MudCard class="replay-list">
			<MudList Class="replay-list-items fit-to-page">
				@foreach ((ReplayInfo replay, int index) in Replays.Select((replay, index) => (replay, index)))
				{
					<ReplayListItem OnChange="@OnReplayItemChanged"
									ReplayInfo="@replay"
									ReloadOnChange="@ReloadOnItemChanged" /> if (index < Replays.Count - 1)
					{
						<MudDivider/>}
				}
			</MudList>
		</MudCard>}
</div>
