.replay-list-main {
	height: 100%;
	overflow: hidden;
	padding: 1px;
	width: 100%;
}

::deep .replay-list {
	overflow: auto;
	flex: 0 0 100%;
	max-height: 100%;
}

::deep .replay-list-items {
	padding: 0;
	overflow: hidden;
}
