.nav-menu {
	height: 60px;
	padding: 0 10px 0 10px;
	background-color: cyan;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

	.nav-menu .section {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
