@using MatBlazor

@namespace ReplayManager.Shared

<MatNavMenu Multi="true" Class="app-sidebar" Style="flex-grow:1;">
	<MatNavItem Href="/" NavLinkMatch="NavLinkMatch.All">
		<MatIcon>home</MatIcon><span> &nbsp; Home</span>
	</MatNavItem>

	<MatNavItem Href="/favorites">
		<MatIcon>star</MatIcon><span> &nbsp; Favorites</span>
	</MatNavItem>

	<MatNavItem Href="/settings">
		<MatIcon>settings</MatIcon><span> &nbsp; Settings</span>
	</MatNavItem>
</MatNavMenu>

@code {}
