@namespace ThiccDaddie.ReplayManager.Client.Shared

<div class="nav-menu">
	<div class="section">
		<MatHeadline6>Thicc Daddie's Replay Manager</MatHeadline6>
	</div>
	<div class="section">
		<MatIconButton Link="/" Icon="home"></MatIconButton>
		<MatIconButton Link="/favorites" Icon="star"></MatIconButton>
		<MatIconButton Link="/settings" Icon="settings"></MatIconButton>
	</div>
</div>
