/*@import 'Components/RecentReplays/RecentReplays.scss';*/
.replay-table th {
  position: sticky;
  top: 0; }

/*@import 'Components/ReplayTableItem/ReplayTableItem.scss';*/
.replay-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main {
  display: flex;
  justify-content: center; }

.nav-menu {
  height: 60px;
  padding: 0 10px 0 10px;
  background-color: cyan;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nav-menu .section {
    display: flex;
    justify-content: space-between;
    align-items: center; }

* {
  margin: 0;
  padding: 0; }
